/* latin */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, strong, ul, li, nav {
	margin: 0;
	border: 0;
}


a { color: #f35b3f;
    border-bottom: 1px dashed #f35b3f;
    text-decoration: none;
    transition: all .3s;
}
a:hover, a:focus { color: #f35b3f;
    border: 0;
    text-decoration: none;
}

.logo{border: 0;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: 'Share Tech Mono';
    font-style: normal;
    font-weight: 400;
}
    
* {
    box-sizing: border-box;
    font-family:'Share Tech Mono',monospace;
    background-size: cover;
    font-size: 14px;
    letter-spacing: 1px;
}

body{
    background: #1B2225;
}

/*le profil*/
#tout{
    font-family: 'Roboto', sans-serif;
    margin: left;
    width:458px;
    max-width:98%;
}
.profile-img{
    margin-top: 120px;
}


/*arrière des informations*/
.jumbo-background{
    background-color: #263240;
    color:#fff;
    margin-top: 80px;
    padding: 16px;
}

/*date et nom projet travail*/
.workTitle{
    color:rgb(114, 119, 125);
}

/*lien projet*/
.projectlink{
    font-size:20px;
}

/*plus info*/
.plusinfo{
    font-size:normal;
}




#col{
    column-count:2;
}

#col-logo{
    column-count:4;
}
