
/* latin */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, strong, ul, li, nav {
	margin: 0;
	border: 0;
}


a {
    color: rgb(209, 93, 72);
    border-bottom: 1px dashed rgb(209, 93, 72);
    text-decoration: none;
    transition: all .3s;
}
a:hover, a:focus {
    color: rgb(209, 93, 72);
    border: 0;
    text-decoration: none;
}

.logo{
    border: 0;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}


* {
    box-sizing: border-box;
    font-family:'Share Tech Mono',monospace;
    background-size: cover;
    font-size: 14px;
    letter-spacing: 1px;
}

body{
    background-color: rgb(47, 51, 53);
}

/*le profil*/
#tout{
    font-family: 'Roboto', sans-serif;
    margin: left;
    width:458px;
    max-width:98%;
}
.profile-img{
    margin-top: 120px;
}


/*arrière des informations*/
.jumbo-background{
    background-color: rgb(51, 63, 77);
    color:rgb(220, 218, 215);
    margin-top: 80px;
    padding: 16px;
}

/*date et nom projet travail*/
.workTitle{
    color:rgb(109, 118, 122);
}

/*lien projet*/
.projectlink{
    font-size:20px;
}


#col{
    column-count:2;
}

#col-logo{
    column-count:4;
}
